src/static/xsd/report.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="website_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="server_environment">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="script_filename"/>
              <xs:element type="xs:string" name="document_root"/>
              <xs:element type="xs:string" name="http_host"/>
              <xs:element type="xs:string" name="admin_email"/>
              <xs:element type="xs:string" name="time"/>
              <xs:element type="xs:string" name="server_addr"/>
              <xs:element type="xs:string" name="software"/>
              <xs:element type="xs:string" name="server_gateway"/>
              <xs:element type="xs:string" name="server_signature"/>
              <xs:element type="xs:string" name="server_hostname"/>
              <xs:element type="xs:string" name="platform_name"/>
              <xs:element type="xs:string" name="server_architecture"/>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="xs:string" name="path"/>
              <xs:element type="xs:string" name="phpinfo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cms_list">
          <xs:complexType>
            <xs:sequence>
<!--              <xs:element name="cms">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:string" name="version"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="files">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="path"/>
                    <xs:element type="xs:int" name="size"/>
                    <xs:element type="xs:int" name="ctime"/>
                    <xs:element type="xs:int" name="mtime"/>
                    <xs:element type="xs:string" name="owner"/>
                    <xs:element type="xs:string" name="group"/>
                    <xs:element type="xs:short" name="access"/>
                    <xs:element type="xs:string" name="md5"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="detected" use="optional"/>
                  <xs:attribute type="xs:string" name="snippet" use="optional"/>
                  <xs:attribute type="xs:int" name="pos" use="optional"/>
                  <xs:attribute type="xs:long" name="sigid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>